/*--- Editor ---*/

#editor {
	height: 40rem;
	width: 28.5rem;
	display: inline-block;
	border: 1px solid $border-grey;
	margin-bottom: 1rem;
	overflow: hidden;
	@include box-sizing(border-box);
}

#reference {
	display: inline-block;
	width: 14.5rem;
	height: 100%;
	margin-left: -13.1rem;
	vertical-align: top;
	@include transition(margin-left .4s ease);
	&.open {
		margin-left: 0rem;
	}
}

#reference-content {
	display: inline-block;
}

#reference-handle {
	width: 1.4rem;
	height: 100%;
	float: right;
	text-align: center;
	font-size: 2rem;
	line-height: 39.8rem;
}

#codeArea { 
	display: inline-block;
	height: 100%;
	width: 26.9rem;
	@include transition(width .4s ease);
	&.narrow {
		width: 13.8rem;
	}
}

/*--- Ace nonsense ---*/

.ace_gutter-cell {
	padding-left: .6rem !important;
	padding-right: .6rem !important;
}

.ace-tm .ace_gutter {
	background-color: $light-back !important;
}

.ace-tm .ace_gutter-active-line {
	background-color: $medium-back !important;
}