/*--- Global ---*/

html {
	font-size: 10px;
}

body {
	font-family: 'Helvetica', sans-serif;
	color: $text;
	padding: 0;
	margin: 0;
	background-color: $body;
	@include user-select(none);
	cursor: default;
}

main {
	padding: 0 2rem;
	margin: 0 auto;
	height: 63rem;
	min-width: 95rem;
	max-width: 110rem;
}

h1 {
	font-weight: 400;
	font-size: 2.4rem;
	margin: 1rem 0;
}

h2 {
	font-weight: 400;
	font-size: 2.4rem;
	line-height: 4rem;
	margin: 0 .8rem;
	border-bottom: 2px solid $border-gray;
}

h3 {
	font-size: 1.8rem;
	margin: .4rem;
	font-weight: 400;
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	margin-top: .4rem;
}

li:hover {
	text-decoration: underline;
}

.button {
	background-color: $button-back;
	color: $button-text;
	cursor: pointer;
	&:hover {
		background-color: $button-back-hover;
	}
}

.flip-h {
	@include transform(scale(-1, 1));
}

#dragged {
	opacity: .5;
	position: fixed;
	z-index: 50;
	@include grabbing;
}

/*--- Top level divs ---*/

#header-back {
	position: absolute;
	width: 100%;
	height: 4.3rem;
	background-color: $light-back;
	border-bottom: .3rem solid $medium-border;
	z-index: -1;
}

#scroller {
	width: 100%;
	position: absolute;
	overflow-x: auto;
}

#header {
	width: 100%;
	height: 4.3rem;
	margin-bottom: 1rem;
}

#guide {
	position: relative;
	overflow: hidden;
	height: 61rem;
}

#app {
	position: relative;
	float: right;
	margin-left: 1rem;
	width: 70%;
}

/*--- Panels ---*/

/*.main-container {
	position: relative;
	width: 100%;
	height: 100%;
}

.panel {
	position: absolute;
	left: 0;
	width: 100%;
	height: 100%;
	margin-bottom: 1rem;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}

.panel-app {
}

.panel-about {
	display: none;
	padding: 1rem 2rem;
	border: 1px solid #ddd;
	background-color: white;
	cursor: auto;
	font-size: 1.3rem;
}*/

/*http://css-tricks.com/snippets/css/css-triangle/*/
/*http://www.yuiblog.com/blog/2010/11/22/css-quick-tip-css-arrows-and-shapes-without-markup/*/

/*.arrow {
	position: relative;
	display: inline-block;
	margin-left: 1rem;
}

.arrow-text {
	font-size: 1.6rem;
	text-align: center;
	font-weight: 300;
	padding: .3rem 1rem;
	color: white;
	background-color: #9986b3;
}

.arrow-text:before {
	left: -2.4rem;
	top: 0;
	content: ' ';
	height: 0;
	position: absolute;
	width: 0;
	border: 1.25rem solid transparent;
	border-right-color: #9986b3;
}*/
