/*--- Guide ---*/

#guide-menu {
	width: 100%;
	height: 100%;
	position: absolute;
	right: 0%;
	overflow-y: auto;
	@include transition(right .4s ease);
	&.hidden {
		right: 100%;
	}
}

.guide-link {
	display: block;
	font-size: 1.6rem;
	line-height: 3rem;
	padding-left: .7rem;
	margin-bottom: .3rem;
}

#guide-detail {
	overflow-y: scroll;
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0%;
	@include transition(left .4s ease);
	&.hidden {
		left: 100%;
	}
	> div {
		position: absolute;
		font-size: 1.4rem;
		margin: 1rem .8rem 0 .8rem;
		min-height: 53.3rem;
	}
}

#guide-back {
	font-size: 1.5rem;
	display: block;
	line-height: 2.5rem;
	padding: 0 .6rem;
}

.guide-item {
	display: none;
	cursor: auto;
	@include user-select(text);
	&.current {
		display: block;
	}
}

.example-list {
	margin-top: 1rem;
	cursor: default;
}

.example {
	position: relative;
	background-color: $vivid;
	color: #FFF;
	border-radius: 0.3rem;
	padding: 0.2rem;
	padding-left: 0.5rem;
	margin: 0.2rem;
	margin-left: 0;
	cursor: pointer;
	font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
}

.example:hover {
	background-color: rgba(0,0,0,0);
	color: #000;
}

.example:hover:before {
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	bottom: 0;
	width: 0.5rem;
	border-top-left-radius: 0.3rem;
	border-bottom-left-radius: 0.3rem;
	border-left: 0.1rem solid #000;
	border-top: 0.1rem solid #000;
	border-bottom: 0.1rem solid #000;
}