/*--- Header ---*/

#banner {
	width: 50%;
	display: inline-block;
}

#title {
	font-size: 3.6rem;
	line-height: 4rem;
	color: $vivid;
}

#tagline {
	font-size: 1.4rem;
	margin-left: 1rem;
	font-weight: 300;
	color: $tagline;
}

#header-menu {
	margin-bottom: .4rem;
	width: 50%;
	display: inline-block;
	font-size: 1.6rem;
	text-align: right;
}

#header-menu .button {
	text-align: center;
	font-weight: 300;
	padding: .3rem 1rem;
}