/*--- Visualizer ---*/

#visualizer {
	display: inline-block;
	position: relative;
	overflow: hidden;
	width: 40rem;
	height: 40rem;
	background-color: #FFF;
	margin: 0 0 1rem 1rem;
	border: 1px solid $border-gray;
	@include box-sizing(border-box);
}

#visualizer-buffer {
	margin: .5rem;
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: 10;
	> span {
		font-size: 1.5rem;
		color: $button-back;
	}
	> div {
		font-size: 2rem;
		display: inline-block;
		width: 2rem;
		text-align: center;
	}
}

#numQubits {
	position: relative;
	font-size: 1.2rem;
}

#qubitSVG {
	width: 100%;
	height: 100%;
}

.qubit {
	fill: $qubit-back;
	stroke: $medium-border;
}

.prob-ring {
	position: absolute;
	border-radius: 50%;
	border: .2rem solid #FFF;
	top: 50%;
	left: 50%;
	box-shadow: inset $qubit-down 0 0 0 .2rem;
	@include transform(translate(-50%, -50%));
}

.sub-div {
	width: 2.5%;
	min-width: .5rem;
	position: absolute;
	top: 50%;
	left: 50%;
	box-shadow: inset 0 0 0 .1rem $text;
	@include transform-origin(bottom center);
}

.up {
	background-color: #FFF;
	border-radius: .4rem .4rem 0 0;
}

.down {
	background-color: $qubit-down;
	border-radius: 0 0 .4rem .4rem;
}