/*--- Visualizer ---*/

#visualizer {
	display: inline-block;
	position: relative;
	overflow: hidden;
	width: 40rem;
	height: 40rem;
	background-color: #FFF;
	margin: 0 0 1rem 1rem;
	border: 1px solid $border-gray;
	@include box-sizing(border-box);
}

#visualizer-buffer {
	margin: .5rem;
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: 10;
	> span {
		font-size: 1.5rem;
		color: $button-back;
	}
	> div {
		font-size: 2rem;
		display: inline-block;
		width: 2rem;
		text-align: center;
	}
}

#numQubits {
	position: relative;
	font-size: 1.2rem;
}

.qubit-back {
	fill: $qubit-back;
	stroke: $medium-border;
	stroke-width: 1;
}

.prob-ring {
	stroke-width: 2;
	fill: none;
	&.up {
		stroke: #FFF;
	}
	&.down {
		stroke: $qubit-down;
	}
}

.sub-div {
	stroke: $text;
	stroke-weight: 1;
	&.up {
		fill: #FFF;	
	}
	&.down {
		background-color: $qubit-down;
	}
}
