/* menus.css
* Created by: knod, 
* Date created: 03/06/14
* Menu item styles
* 
* Sources:
* 
* ToDo:
* 
* DONE:
* 
*/

/*--- Menu ---*/
#menuContainer {
	width: 52%;
	text-align: right;
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
	/* Rules below not implemented in browsers yet '11 */
	-o-user-select: none;
	user-select: none;
	cursor: default;
}

#menu {
	font-size: 17px;
}

.top-menu {
	position: relative;
	text-align: center;
	padding-right: 5%;
	padding-left: 4px;
	border-radius: 2px 2px 0 0;
	border: 1px solid white;
}

.top-menu:last-of-type {
	padding-right: 3px;
}

/* For older browsers */
#tm-right {
	padding-right: 3px;
}

li {
	list-style-type: none;
	padding-bottom: .2px;
}

/* Not super necessary, just nice */
li:last-of-type {
	padding-bottom: 2px;
}

.menu-items {
	display: none;
	position: absolute;
	left: 0;
	min-width: 100%;
	padding: 0;
	margin: 0px;
	font-size: 14px;
	z-index: 100;
	background: inherit;
	color: black;
	/*border: 1px solid #dddddd;*/
}
