/* qubit.css
* Created by: 
* Date: 03/24/14
* qubit styles
* 
* Sources:
* 
* TODO:
*
* DONE:
* 
*/

#visualizer {
	cursor: default;
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
	/* Rules below not implemented in browsers yet
	(noted in '11) */
	-o-user-select: none;
	user-select: none;
}

/* Probably better not to use opacity for cross-browser compatability? */
#qubitElements {
	opacity: .75 !important;
}

.qubit {
	background-color: #495199;
	/* Makes calculations happen to the center */
	-ms-transform: (-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.circle {
	position: absolute;
	top: 50%;
	left: 50%;
    width: 20%;
    height: 20%;
    border: 2px solid rgb(125, 125, 125);
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    /* Don't let border scoot it out of the div */
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	/* Makes calculations happen to the center */
	/*-ms-transform: (-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);*/
}

.phase-down {
    background-color: white;
}

.phase-up {
	background-color: black;
}

/* Padding for .prob-div */
/*.prob-spacer {
	position: relative;
	height: 30%;
}*/

.prob-div {
	position: relative;
	margin: 0 auto;
	padding-top: 25%;
	width: 50%;
	height: 50%;
	overflow: hidden;
	/*border: 1px solid gray;*/
}

.down-prob {
	/*height: 0%;*/
	background-color: black;
}

.up-prob {
    /*height: 100%;*/
    background-color: white;
}

.prob-diff {
	pointer-events: none;
}
