/* styles.css
* Created by: sethtoles
* Date created: 03/11
* Sidebar menu styles
* 
* ToDo:
* - make it
* 
* DONE:
* - sweet nothings
* 
*/

#sidebar {
	position: relative; 
	overflow: hidden;
	max-height: 100%;
}

#header {
	text-align: center;
	margin-bottom: 1.5rem;
}

#title {
	font-size: 5rem;
}

#tagline {
	font-size: 1.3rem;
}

#guide>div {
	border-top: 2px solid #CCC;
}

.guide-label {
	font-size: 1.6rem;
	padding: .8rem;
	padding-left: 1rem;
	cursor: pointer;
	-webkit-transition: padding-left .35s;
}

.open {
	text-decoration: underline;
	cursor: default;
	padding-left: 2.2rem;
}

.guide-label:not(.open):hover {
	padding-left: 2.2rem;
}

#guide>div:last-child {
	border-bottom: 2px solid #CCC;
}

.guide-content {
	padding: 0 2.2rem;
	margin-bottom: 1rem;
	color: #000;
	display: none;
	max-height: 35rem;
	overflow-x: auto;
}