/*--- Browser prefixins ---*/
/*--- Colors ---*/
/*--- Partial stylesheets ---*/
/*--- Global ---*/
html {
  font-size: 10px; }

body {
  font-family: 'Helvetica', sans-serif;
  color: #424242;
  padding: 0;
  margin: 0;
  background-color: #fbf9ff;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default; }

main {
  padding: 0 2rem;
  margin: 0 auto;
  height: 63rem;
  min-width: 95rem;
  max-width: 110rem; }

h1 {
  font-weight: 400;
  font-size: 2.4rem;
  margin: 1rem 0; }

h2 {
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 4rem;
  margin: 0 .8rem;
  border-bottom: 2px solid #dddddd; }

h3 {
  font-size: 1.8rem;
  margin: .4rem;
  font-weight: 400; }

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-top: .4rem; }

li:hover {
  text-decoration: underline; }

.button {
  background-color: #9986b3;
  color: white;
  cursor: pointer; }
  .button:hover {
    background-color: #bda9d8; }

.flip-h {
  -webkit-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  -moz-transform: scale(-1, 1);
  transform: scale(-1, 1); }

#dragged {
  opacity: .5;
  position: fixed;
  z-index: 50;
  cursor: move;
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing; }

/*--- Top level divs ---*/
#header-back {
  position: absolute;
  width: 100%;
  height: 4.3rem;
  background-color: #f3eaff;
  border-bottom: 0.3rem solid #c4b7e0;
  z-index: -1; }

#scroller {
  width: 100%;
  position: absolute;
  overflow-x: auto; }

#header {
  width: 100%;
  height: 4.3rem;
  margin-bottom: 1rem; }

#guide {
  position: relative;
  overflow: hidden;
  height: 61rem; }

#app {
  position: relative;
  float: right;
  margin-left: 1rem;
  width: 70%; }

/*--- Panels ---*/
/*.main-container {
	position: relative;
	width: 100%;
	height: 100%;
}

.panel {
	position: absolute;
	left: 0;
	width: 100%;
	height: 100%;
	margin-bottom: 1rem;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}

.panel-app {
}

.panel-about {
	display: none;
	padding: 1rem 2rem;
	border: 1px solid #ddd;
	background-color: white;
	cursor: auto;
	font-size: 1.3rem;
}*/
/*http://css-tricks.com/snippets/css/css-triangle/*/
/*http://www.yuiblog.com/blog/2010/11/22/css-quick-tip-css-arrows-and-shapes-without-markup/*/
/*.arrow {
	position: relative;
	display: inline-block;
	margin-left: 1rem;
}

.arrow-text {
	font-size: 1.6rem;
	text-align: center;
	font-weight: 300;
	padding: .3rem 1rem;
	color: white;
	background-color: #9986b3;
}

.arrow-text:before {
	left: -2.4rem;
	top: 0;
	content: ' ';
	height: 0;
	position: absolute;
	width: 0;
	border: 1.25rem solid transparent;
	border-right-color: #9986b3;
}*/
/*--- Header ---*/
#banner {
  width: 50%;
  display: inline-block; }

#title {
  font-size: 3.6rem;
  line-height: 4rem;
  color: #5b388b; }

#tagline {
  font-size: 1.4rem;
  margin-left: 1rem;
  font-weight: 300;
  color: #7957a8; }

#header-menu {
  margin-bottom: .4rem;
  width: 50%;
  display: inline-block;
  font-size: 1.6rem;
  text-align: right; }

#hidden-file-input {
  display: none; }

#header-menu .button {
  text-align: center;
  font-weight: 300;
  padding: .3rem 1rem; }

/*--- Guide ---*/
#guide-menu {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  overflow-y: auto;
  -webkit-transition: right 0.4s ease;
  transition: right 0.4s ease; }
  #guide-menu.hidden {
    right: 100%; }

.guide-link {
  display: block;
  font-size: 1.6rem;
  line-height: 3rem;
  padding-left: .7rem;
  margin-bottom: .3rem; }

#guide-detail {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0%;
  -webkit-transition: left 0.4s ease;
  transition: left 0.4s ease; }
  #guide-detail.hidden {
    left: 100%; }
  #guide-detail > div {
    position: absolute;
    font-size: 1.4rem;
    margin: 1rem .8rem 0 .8rem;
    min-height: 53.3rem; }

#guide-back {
  font-size: 1.5rem;
  display: block;
  line-height: 2.5rem;
  padding: 0 .6rem; }

.guide-item {
  display: none;
  cursor: auto;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text; }
  .guide-item.current {
    display: block; }

.example-list {
  margin-top: 1rem;
  cursor: default; }

/*--- Constants ---*/
/*--- Editor ---*/
#editor {
  display: inline-block;
  height: 40rem;
  width: calc(100% - 41rem);
  border: 1px solid #dddddd;
  background-color: #FFF;
  margin-bottom: 1rem;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

#reference {
  position: absolute;
  width: 1.4rem;
  height: 100%;
  overflow: hidden;
  left: 0;
  vertical-align: top;
  -webkit-transition: width 0.4s ease, left 0.4s ease;
  transition: width 0.4s ease, left 0.4s ease; }
  #reference.open {
    width: 14.9rem;
    left: -0.4rem; }

#reference-content {
  width: 13.5rem; }
  #reference-content > h3 {
    padding-left: 1.5rem; }

.reference-line {
  padding: 0 .4rem .2rem 0; }
  .reference-line > div {
    display: inline-block; }
  .reference-line:hover > .reference-button {
    opacity: 1; }

.reference-button {
  line-height: 1.8rem;
  font-size: 1.2rem;
  text-align: center;
  vertical-align: top;
  margin-right: .2rem;
  width: 1.8rem;
  opacity: 0;
  -webkit-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
  position: relative; }
  .reference-button:hover:before {
    border-right-color: #bda9d8; }

.reference-button:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fbf9ff;
  border-top: .9rem solid transparent;
  border-bottom: .9rem solid transparent;
  border-right: 0.4rem solid #9986b3;
  width: 0; }

.reference-item {
  background-color: #5b388b;
  font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
  color: #FFF;
  font-size: 1.2rem;
  line-height: 1.8rem;
  padding: 0 .2rem;
  border-radius: .3rem;
  white-space: nowrap;
  cursor: move;
  cursor: -webkit-grab;
  cursor: -moz-grab; }
  .reference-item:active {
    cursor: move;
    cursor: -webkit-grabbing;
    cursor: -moz-grabbing; }

#reference-handle {
  position: absolute;
  width: 1.4rem;
  height: 100%;
  top: 0;
  right: 0;
  text-align: center;
  font-size: 2rem;
  line-height: 39.8rem; }

#code-area {
  position: absolute;
  top: 0;
  left: 1.4rem;
  height: 100%;
  width: calc(100% - 1.4rem);
  -webkit-transition: left 0.4s ease, width 0.4s ease;
  transition: left 0.4s ease, width 0.4s ease; }
  #code-area.narrow {
    left: 14.5rem;
    width: calc(100% - 14.5rem); }

.insert-before:before, .insert-after:after {
  position: absolute;
  left: 0;
  width: 100%;
  height: 1px;
  content: "";
  background-color: #9986b3;
  box-shadow: 0 0 3px #5b388b; }

/*--- Ace nonsense ---*/
.ace_gutter-cell {
  padding-left: .6rem !important;
  padding-right: .6rem !important; }

.ace-tm .ace_gutter {
  background-color: #f3eaff !important; }

.ace-tm .ace_gutter-active-line {
  background-color: #e4dcee !important; }

/*--- Visualizer ---*/
#visualizer {
  display: inline-block;
  position: relative;
  overflow: hidden;
  width: 40rem;
  height: 40rem;
  background-color: #FFF;
  margin: 0 0 1rem 1rem;
  border: 1px solid #dddddd;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

#visualizer-buffer {
  margin: .5rem;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 10; }
  #visualizer-buffer > span {
    font-size: 1.5rem;
    color: #9986b3; }
  #visualizer-buffer > div {
    font-size: 2rem;
    display: inline-block;
    width: 2rem;
    text-align: center; }

#num-qubits {
  position: relative;
  font-size: 1.2rem; }

.qubit-back {
  fill: #e5d7f1;
  stroke: #c4b7e0;
  stroke-width: 1; }

.prob-ring {
  stroke-width: 2;
  fill: none; }
  .prob-ring.up {
    stroke: #FFF; }
  .prob-ring.down {
    stroke: #a468bb; }

.bar {
  stroke: #424242;
  stroke-width: 1; }
  .bar.up {
    fill: #FFF; }
  .bar.down {
    fill: #a468bb; }

/*--- Diagram ---*/
#diagram {
  height: 20rem;
  border: 1px solid #dddddd;
  background-color: #FFF;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
