/*--- Browser prefixins ---*/

@mixin transition($arguments...) {
	-webkit-transition: $arguments;
	transition: $arguments;
}

@mixin transform($arguments...) {
	-webkit-transform: $arguments;
	-ms-transform: $arguments;
	-moz-transform: $arguments;
	transform: $arguments;
}

@mixin box-sizing($argument) {
	-webkit-box-sizing: $argument;
	-moz-box-sizing: $argument;
	box-sizing: $argument;
}

@mixin box-shadow($arguments...) {
  -moz-box-shadow: $arguments;
  -webkit-box-shadow: $arguments;
  box-shadow: $arguments;
}

@mixin user-select($argument) {
	-webkit-user-select: $argument;      
	-moz-user-select: $argument;
	-ms-user-select: $argument;
	user-select: $argument;
}

@mixin grabbable {
	cursor: move;
	cursor: -webkit-grab;
	cursor: -moz-grab;
}

@mixin grabbing {
	cursor: move;
	cursor: -webkit-grabbing;
	cursor: -moz-grabbing;
}

/*--- Colors ---*/

$body : #FBF9FF;
$text : #424242;

$tagline : #7957A8;

$border-gray : #DDDDDD;
$medium-border : #C4B7E0;

$vivid : #5B388B;

$light-back : #F3EAFF;
$medium-back : desaturate(darken($light-back, 6), 64);

$qubit-back : #E5D7F1;
$qubit-down : #A468BB;

$button-text: #FFF;
$button-back : #9986B3;
$button-back-hover: #BDA9D8;

/*--- Partial stylesheets ---*/

@import "partials/global";
@import "partials/header";
@import "partials/guide";
@import "partials/editor";
@import "partials/visualizer";
@import "partials/diagram";
